.footer {
    height: 150px;

    &_nav {
        display: flex;
        width: 360px;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 30px;
        &-block {
            margin-top: auto;
        }
        &-text {
            font-size: 12px;
            color: black;
            cursor: pointer;
        }
    }

    .pro {
        margin-top: 30px;
    }
}