body {
	margin: 0;
	font-family: 'Merienda', cursive;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.pro {
	width: 200px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 20px;
}